/* секция футер-верхний */
.footer__top .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding-left: 100px; */
  padding-top: 100px;
  padding-bottom: 100px;
}
.title__footer {
  font-weight: normal;
  font-size: 30px;
  line-height: 1.2;
  padding-bottom: 62px;
}
.title__footer span {
  display: block;
  color: var(--main-red);
}
.button {
  font-size: 12px;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 21px 44px;
  font-weight: 500;
  border: 1px solid #f2353f;
}
.button:hover,
.button:focus {
  color: var(--main-white);
  cursor: pointer;
  background-color: var(--main-red);
}
.container__left,
.container__right {
  display: block;
  width: calc((100% - 60px) / 2);
}
.container__left {
  padding-left: 100px;
}
.container__right {
  display: flex;
  justify-content: space-between;
}
.container__navigation {
  display: block;
  width: calc((100% - 60px) / 2);
}
.container__subscribe {
  display: block;
  width: calc((100% - 60px) / 2);
}
.list-all {
  font-weight: normal;
  font-size: 16px;
  line-height: 1;
}
.container__subscribe p {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  font-feature-settings: 'liga' off;
  color: #1f2c37;
  padding-bottom: 64px;
}
.form__subscribe {
  display: inline-block;
  justify-content: space-between;
}
.form-subscribe input,
.button-subscribe {
  border: none;
  /* border-bottom: 1px solid var(--main-black); */
  background-color: transparent;
}
.form-subscribe::after {
  content: '';
  display: inline-block;
  width: 255px;
  height: 1px;
  background-color: var(--main-black);
  border: 0;
}
.form__subscribe input::placeholder {
  padding-bottom: 15px;
}
.button-subscribe {
  background-image: url(../images/svg/arrow.svg);
  width: 21px;
  height: 14px;
  margin-left: 53px;
  border: none;
}
/* секция  футер-нижний*/
.container__navigation .list {
  display: block;
}
.list__navigation:not(:last-child) {
  padding-bottom: 18px;
}
.list__navigation {
  font-weight: normal;
  font-size: 16px;
  line-height: 1;
  color: #1f2c37;
}

.footer__botton .container {
  display: flex;
  justify-content: space-between;
  padding-top: 43px;
  padding-bottom: 43px;
}
.footer__botton .list {
  margin-bottom: 0;
  margin-right: 200px;
  font-feature-settings: 'liga' off;
}
.footer__botton p {
  margin-left: 100px;
  font-size: 14px;
  font-feature-settings: 'liga' off;
}
.list-link {
  font-size: 14px;
}
.list-link:not(:last-child) {
  padding-right: 32px;
}
